<!doctype html>
<html>
<head>
<title>{{ page.title }} &#183; Thoughts</title>
<meta charset='utf-8'>
<meta name='author' content='DrummerHead'>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<meta name='description' content='{{ page.desc }}'>
<link rel='stylesheet' href='{{ site.baseurl }}/css/stijl.css'>
</head>
<body>




<header role="banner">
<div class='vessel'>
<strong>
<a href='{{ site.baseurl }}/'>Thoughts</a>
</strong>
</div>
</header>

<div role="main">
<div class='vessel'>
{{ content }}
</div>
</div>

<div id='moribus'>
<script>
var _gaq=[['_setAccount','UA-1030009-5'],['_trackPageview']];
(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
</div>




</body>
</html>
